.name_info {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

.user_name {
  display: inline-block;
}

.user_id {
  display: inline;
  color: #cccccc;
}

.name_info:hover {
  color: #0000ff;
}
