.user_info {
  display: inline;
  vertical-align: top;
  padding-left: 10px;
}

.user_icon {
  position: absolute;
  display: inline-block;
  padding: 2px;
}

.user_name {
  display: inline-block;
}

.user_id {
  display: inline;
  color: #cccccc;
}

.name_info:hover {
  color: #0000ff;
}


.tweet {
  position: relative;
  padding-left: 50px;
}
