li {
  list-style-type: none;
}

#tweet {
  max-width: 320px;
}

.user_icon {
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}

.hoge {
  display: inline-block;
}

.tweet-container {
  border-bottom: 1px solid #8c8b8b;
}
