li {
  list-style-type: none;
}

.tweet-text {
  font-size: 15px;
  max-width: 280px;
}

.tweet-list {
}

.user_icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline;
  vertical-align: top;
}

.hoge {
  display: inline;
}

.tweet-container {
  padding: 5px;
  border-bottom: 1px solid #8c8b8b;
}
